.container-fluid{
  
    padding-left: 0px!important;
    padding-right: 0px!important;
    padding-top: 10px;
} 
#navbar {
    background-color: rgb(245, 197, 67)!important;
    
    
}
@media only screen and (max-width:600px){
    #logo{
        margin-left: -205px;
    }

}

.navbar-brand {
    margin: 15px 0px 0px 230px;
}
.call {
    width: 260px;
    height: 50px;
   
     float: right; 
    border-radius: 0px 0px 7px 7px;
    margin-right: 280px;
    font-weight: 600;
    text-align: center;
    background-color: rgb(56, 56, 175);
    padding-top: 12px;
    color: burlywood;

}  
.num {
    color: ghostwhite;
}
.navbar-nav{
    justify-content: center;
    font-weight: 600;
    
}
#demo {
    /* background-color: rgba(214, 183, 44, 0.411); */
    text-align: center;

 