<div class="card">
    <div class="top">
        <div><i class="material-icons" style="color: navy;margin-right: 10px;">person</i><span>{{user1.name}}</span></div>
        <div><i class="material-icons" style="color: navy;margin-right: 10px;">email</i><span>{{user1.email}}</span></div>
        <div><i class="material-icons" style="color: navy;margin-right: 10px;">call</i><span>{{user1.phone}}</span></div>
    </div>
    <div class="bottom" (click)="viewProfile()">
        <h1>View Profile</h1>
    </div>
</div>
